html {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

._app {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    max-height: 721px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .circle-green,
    .circle-yellow {
        width: 360px;
        height: 360px;
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        filter: blur(100px);
    }

    .circle-green {
        background: rgb(36, 255, 167);
        opacity: 0.51;
        top: 93px;
        left: 11px;
        // animation: slide-up 3s, fade-in-51 3s;
    }

    .circle-yellow {
        background: rgb(255, 195, 0);
        opacity: 0.34;
        width: 320px;
        height: 320px;
        top: 280px;
        left: 140px;
        // animation: fade-in 3s;
    }

    .header {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 0 100px 140px;

        h1 {
            box-sizing: border-box;
            font-family: "Rubik Mono One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            font-weight: 500;
            font-size: 61px;
            margin-bottom: 12px;
        }

        .github {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            color: black;
            text-decoration: none;
            transition: opacity 0.2s;

            h4 {
                display: inline-flex;
                font-size: 14px;
                font-family: "Fira Mono", "Courier New", Courier, monospace;
            }
        }

        .github:hover {
            opacity: 0.6;
        }

        .github:active {
            transition: opacity 0.1s;
            opacity: 0.3;
        }
    }

    .form {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        gap: 24px;
        padding-right: 100px;

        .inputs-container {
            width: 100%;
            max-width: 350px;
            height: 300px;
            display: flex;
            box-shadow: 0 20px 20px -5px rgba(black, 0.1);
            // background: rgba(black, 0.05);
            background: white;
            // border: 1px solid rgba(black, 0.03);
            border-bottom: 0;
            border-radius: 16px;
            border-top-left-radius: 36px;
            border-top-right-radius: 36px;
            overflow: hidden;
        }

        .inputs,
        .inputs-new {
            position: relative;
            width: 100%;
            max-width: 350px;
            height: 300px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            gap: 0;

            input {
                width: 100%;
                margin: 0;
                outline: none;
                padding-top: 20px;
                box-sizing: border-box;
                border: none;
                background: rgba(black, 0);
                text-align: center;
                font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
                    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
                font-weight: 700;
                font-size: 50px;
                transition: background-color 0.2s;
            }

            input:first-child {
                position: relative;
                height: 53%;
            }

            input:last-child {
                height: 47%;
                padding: 0 0 20px;
            }

            input:hover,
            input:focus {
                background: rgba(black, 0.03);
            }
        }

        .inputs::after,
        .inputs-new::after {
            content: "";
            display: block;
            position: absolute;
            top: 53%;
            left: -180px;
            right: -180px;
            height: 3px;
            background: #f2f2f2;
        }

        .inputs-new {
            pointer-events: none;
        }

        button {
            outline: none;
            border: none;
            background: black;
            height: 70px;
            width: 100%;
            max-width: 350px;
            border-radius: 16px;
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
            color: white;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
                Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

            .label {
                transition: color 0.2s, transform 0.5s cubic-bezier(0.23, 0.84, 0, 1);
            }

            .icon {
                display: flex;
                color: rgb(36, 255, 167);
                transition: color 0.2s, transform 0.5s cubic-bezier(0.23, 0.84, 0, 1);
            }
        }

        button:hover {
            .label {
                transform: translate(5px, -2px);
            }

            .icon {
                color: rgb(238, 190, 101);
                transform: translate(7px, -3px) rotate(-5deg);
            }
        }

        button:active {
            transition-duration: 0.1s;

            .label {
                transition-duration: 0.2s;
                transform: translate(1px, 3px);
            }

            .icon {
                transition-duration: 0.2s;
                transform: translate(2px, 5px) rotate(6deg);
            }
        }
    }
}

._app.animate {
    .inputs,
    .inputs-new {
        transform: translateX(-350px);
        transition: transform 0.45s cubic-bezier(0.23, 0.84, 0, 1);
    }

    .inputs {
        transition: transform 0.1s cubic-bezier(0.8, 0.36, 0.96, 0.78);
    }

    .inputs-new {
        transition-delay: 0.1s;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: none;
    }
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: none;
    }
}

@-moz-keyframes slide-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: none;
    }
}

@-o-keyframes slide-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.34;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.34;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.34;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.34;
    }
}

// ----

@keyframes fade-in-51 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.51;
    }
}

@-webkit-keyframes fade-in-51 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.51;
    }
}

@-moz-keyframes fade-in-51 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.51;
    }
}

@-o-keyframes fade-in-51 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.51;
    }
}
